[submodule "find-active-debuggers"]
	path = find-active-debuggers
	url = https://github.com/ArasLabs/find-active-debuggers.git
[submodule "run-client-method"]
	path = run-client-method
	url = https://github.com/ArasLabs/run-client-method.git
[submodule "find-parent-package"]
	path = find-parent-package
	url = https://github.com/ArasLabs/find-parent-package.git
[submodule "tree-grid-view-sample"]
	path = tree-grid-view-sample
	url = https://github.com/ArasLabs/tree-grid-view-sample.git
[submodule "cui-add-to-package"]
	path = cui-add-to-package
	url = https://github.com/ArasLabs/cui-add-to-package.git
